@model IEnumerable<IdentityRole>

@{
    ViewBag.Title = "Role List";
    int i = 0;
}

<header id="header">
    <div class="container">
        <div class="row">
            <div class="col-md-10">
                <h1><span class="glyphicon glyphicon-cog" aria-hidden="true"></span> Dashboard <small>Manage Student</small></h1>
            </div>
            <div class="col-md-2">
                <div class="dropdown create">
                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        Create
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                        <li><a asp-controller="home" asp-action="create" class="nav-link">Student</a></li>
                        <li><a href="#">Add More Details</a></li>
                        @*<li><a href="#">Add User</a></li>*@
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>

<section id="breadcrumb">
    <div class="container">
        <ol class="breadcrumb">
            <li class="active">Dashboard</li>
        </ol>
    </div>
</section>

<section id="main">
    <div>
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="list-group">
                        <a asp-controller="home" asp-action="index" class="list-group-item active main-color-bg">
                            <span class="glyphicon glyphicon-cog" aria-hidden="true"></span> Dashboard
                        </a>

                        <a asp-controller="home" asp-action="index" class="list-group-item"><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> Student <span class="badge"> @Model.Count() </span></a>
                        <a href="posts.html" class="list-group-item"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Pages <span class="badge">2</span></a>
                        <a href="users.html" class="list-group-item"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Users <span class="badge">203</span></a>
                    </div>

                    <div class="well">
                        <h4>Disk Space Used</h4>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                                60%
                            </div>
                        </div>
                        <h4>Bandwidth Used </h4>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%;">
                                40%
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-9">
                    <!-- Website Overview -->
                    <div class="panel panel-default">
                        <div class="panel-heading main-color-bg">
                            <h3 class="panel-title">Website Overview</h3>
                        </div>
                        <div class="panel-body">

                            <div class="row">
                                <div class="col-md-3">
                                    <div class="well card">
                                        <h2><span class="glyphicon glyphicon-user" aria-hidden="true"></span> @Model.Count()</h2>
                                        <h4>Roles</h4>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="well dash-box">
                                        <h2><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> @*@Model.Count()*@</h2>
                                        <h4>Students</h4>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="well dash-box">
                                        <h2><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> 33</h2>
                                        <h4>Posts</h4>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="well dash-box">
                                        <h2><span class="glyphicon glyphicon-stats" aria-hidden="true"></span> 12,334</h2>
                                        <h4>Visitors</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="panel panel-default">
                        <div class="panel-heading main-color-bg"><h3 class="panel-title">All Roles</h3></div>
                        <div class="panel-body">
                            <div class="row">
                               
                                @if (Model.Any())
                                {
                                    foreach (var role in Model)
                                    {
                                        i++;
                                        <div class="" style="width:80%; margin:auto;">
                                            <h3>@i</h3>
                                            <div class="card-header bg-dark text-white">
                                                Role Id: @role.Id
                                            </div>
                                            <div class="card-body">
                                                <h5 class="card-title"> @role.Name</h5>
                                            </div>
                                            <div class="card-footer bg-dark text-white">
                                                <a  asp-controller="Administration" asp-action="EditRole" asp-route-id="@role.Id" class="btn btn-primary">Edit</a>
                                                <a href="#" class="btn btn-danger">Delete</a>
                                                <br />
                                            </div>
                                            <br />
                                        </div>
                                        <br/>
                                    }
                                }
                                else
                                {
                                <div class="card">
                                    <div class="card-header">
                                        No Rules Created Yet.
                                    </div>
                                    <div class="card-body">
                                        <h5 class="card-title"> Use the button bellow to create a role</h5>
                                        <a class="btn btn-danger" style="width:auto" asp-controller="administration" asp-action="listroles"> Create Role</a>
                                    </div>

                                </div>
                                }

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>