@model HomeDetailsViewModel

@{

    ViewBag.Title = Model.PageTitle ;
    string FullName = Model.employee.FirstName + " " + Model.employee.LastName;
    var photopath = "~/img/" + (Model.employee.Photo ?? "noimage.jpg");
    int count = 0;
}
    
<header id="header">
    <div class="container">
        <div class="row">
            <div class="col-md-10">
                <a asp-action="index"> <h1><span class="glyphicon glyphicon-cog" aria-hidden="true"></span> Dashboard <small>List of Devs</small></h1></a>
            </div>
        </div>
    </div>
</header>

<section id="breadcrumb">
    <div class="container">
        <ol class="breadcrumb">
            <li class="active">Developers Details</li>
        </ol>
    </div>
</section>

<section id="main">
    <div>
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="list-group">
                        <a href="index.html" class="list-group-item active main-color-bg">
                            <span class="glyphicon glyphicon-cog" aria-hidden="true"></span> Dashboard
                        </a>

                        <a href="pages.html" class="list-group-item"><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> Payments <span class="badge"> @Model.Payment.Count() </span></a>
                        <a href="posts.html" class="list-group-item"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Guarantors <span class="badge"> @Model.Guarantor.Count() </span></a>
                        <a href="users.html" class="list-group-item"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Balance <span class="badge">@Model.Balance</span></a>
                    </div>

                    <div class="well">
                        <h4>Disk Space Used</h4>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                                60%
                            </div>
                        </div>
                        <h4>Bandwidth Used </h4>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%;">
                                40%
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-9">

                    <div>
                        <div class="panel panel-default">

                            <div class="panel-body">
                                <div class="col-sm-12">
                                    
                                        <div class="card">
                                            <div class="card-info">
                                                <div class="card-header">
                                                    <h1 class="text-center"> Student Name: @FullName </h1>
                                                    <h3 class="text-center">@Model.PageTitle</h3>
                                                </div>
                                             </div>
                                        </div>
                                    <br />
                                    <div class="btn-pref btn-group btn-group-justified btn-group-lg" role="group" aria-label="...">
                                        <div class="btn-group" role="group">
                                            <button type="button" id="stars" class="btn btn-primary" href="#tab1" data-toggle="tab">
                                                <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                                                <div class="hidden-xs">Dev Details</div>
                                            </button>
                                        </div>
                                        <div class="btn-group" role="group">
                                            <button type="button" id="favorites" class="btn btn-default" href="#tab2" data-toggle="tab">
                                                <span class="glyphicon glyphicon-usd" aria-hidden="true"></span>
                                                <div class="hidden-xs">Payments</div>
                                            </button>
                                        </div>
                                        <div class="btn-group" role="group">
                                            <button type="button" id="following" class="btn btn-default" href="#tab3" data-toggle="tab">
                                                <span class="glyphicon glyphicon-briefcase" aria-hidden="true"></span>
                                                <div class="hidden-xs">Guarantor</div>
                                            </button>
                                        </div>
                                    </div>

                                    <div class="well">
                                        <div class="tab-content">
                                            <div class="tab-pane fade in active" id="tab1">
                                                <div class="row">
                                                    <div class="col-md-4 col-sm-12">
                                                        <img class="card-img-top imageThumbnail img-thumbnail" src="@photopath" asp-append-version="true" />
                                                        <h4 style="font-size:25px"> Student ID: @Model.employee.EmployeeId </h4>
                                                    </div>
                                                    <div class="col-md-8 col-sm-12">
                                                        <ul class="list-group">
                                                            <li class="list-group-item"> <span style="font-size:20px">Email:</span> <span style="font-size:15px">@Model.employee.Email</span> </li>
                                                            <li class="list-group-item"> <span style="font-size:20px">Batch:</span> <span style="font-size:15px">@Model.employee.AdmissionBatch</span> </li>
                                                            <li class="list-group-item"> <span style="font-size:20px">Adminssion Type:</span> <span style="font-size:15px">@Model.employee.AdmissionType</span> </li>
                                                            <li class="list-group-item"> <span style="font-size:20px">Gender:</span> <span style="font-size:15px">@Model.employee.Gender</span></li>
                                                            <li class="list-group-item"> <span style="font-size:20px">Marital Status:</span > <span style="font-size:15px">@Model.employee.MaritalStatus</span></li>
                                                            <li class="list-group-item"> <span style="font-size:20px">Phone No:</span> <span style="font-size:15px">@Model.employee.PhoneNumber</span></li>
                                                            <li class="list-group-item"> <span style="font-size:20px">Status:</span>  <span style="font-size:15px">@Model.employee.Status</span> </li>
                                                            <li class="list-group-item"> <span style="font-size:20px">Nationality:</span> <span style="font-size:15px">@Model.employee.Nationalty</span> </li>
                                                            <li class="list-group-item"> <span style="font-size:20px">Identification:</span> <span style="font-size:15px">@Model.employee.Identification</span> </li>
                                                            <li class="list-group-item"> <span style="font-size:20px"> Health:</span> <span style="font-size:15px">@Model.employee.HealthCondition</span></li>
                                                            <li class="list-group-item"> <span style="font-size:20px"> Date of Birth:</span> <span style="font-size:15px">@Model.employee.DateOfBirth</span> </li>
                                                        </ul>
                                                        <div class="card-footer text-center">
                                                            <a asp-controller="home" asp-action="edit" asp-route-id="@Model.employee.EmployeeId" class="btn btn-primary">Edit</a>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="card-footer text-center">
                                                    <a asp-controller="home" asp-action="index" class="btn btn-dark">Back</a>
                                                </div>

                                            </div>
                                            <div class="tab-pane fade in" id="tab2">
                                                <h3>Balance: <b>@Model.Balance</b></h3>
                                                <table class="table table-striped table-hover p-2" id="dataTable" style="font-size:20px">
                                                    <tr>
                                                        <th>S.No</th>
                                                        <th>Email</th>
                                                        <th>Phone</th>
                                                        <th>Details</th>

                                                    </tr>
                                                    @foreach (var payme in Model.Payment)
                                                    {
                                                        count++;
                                                        <tr>
                                                            <td> @count</td>
                                                            <td> @payme.PaymentMethod</td>
                                                            <td> @payme.AmouontPaid</td>
                                                            <td> @payme.PaymentDate</td>
                                                        </tr>
                                                    }
                                                    <tr></tr>
                                                </table>
                                            </div>
                                            <div class="tab-pane fade in" id="tab3">
                                                <table class="table table-striped table-hover p-2" id="dataTable">
                                                    <tr>
                                                        <th>Name</th>
                                                        <th>Email</th>
                                                        <th>Phone</th>
                                                        <th>Details</th>

                                                    </tr>
                                                    @foreach (var guarant in Model.Guarantor)
                                                    {

                                                        <tr>
                                                            <td> @guarant.Name</td>
                                                            <td> @guarant.Email</td>
                                                            <td> @guarant.HomePhone</td>
                                                            <td> @guarant.OfficePhone </td>

                                                        </tr>
                                                    }

                                                </table>
                                                <div class="card-footer text-center">
                                                    <a asp-controller="guarantor" asp-action="create" asp-route-id="@Model.employee.EmployeeId" class="btn btn-primary">Add Guarantor</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    
</section>



@section Scripts{
    <script src="~/js/CustomScript.js"></script>
}
